.err {
  color: red;
}

.white {
  color: white;
}
.notification{
  background: red;
  padding: 2px;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -15px;
}
.sd-body__progress{
  display: none !important;
}

.success {
  color: green
}

.swal2-styled.swal2-confirm {
  background-color: #feb95f !important;
  border-color: #feb95f !important;
}

.btn-danger {
  background-color: #c82333 !important;
  border-color: #bd2130 !important;
}

.logo-img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  min-width: 60px;
}

.mx-datepicker {
  width: 100% !important;
}

.no-msg {
  text-align: center;
  margin-top: 200px;
}

.chat-list .border-radius-50 {
    width: 30px;
    height: 30px;
}
.ml-6 {
  margin-left: 4rem;
}

.profile-img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  text-align: center;
}
.profile-sidebar {
    text-align: center;
    /* padding: 25px; */
    /* -webkit-box-shadow: 1px 2px 4px 1px; */
    /* box-shadow: 1px 2px 4px 1px; */
    width: 100px;
    position: relative;
    margin-bottom: 30px;
}

.profile-details {
  padding: 20px 0;
  border-bottom: 2px solid #E5E5E5;
}

.profile-main {
  padding: 25px;
  background: #FFFFFF;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
margin-top: 15px;
    margin-bottom: 50px;
}
.update-img-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: 0px 4.61538px 23.0769px rgb(0 0 0 / 10%);
    padding: 8px 7px;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    color: #C2095A;
}

.border-radius-50 {
  border-radius: 50%;
}

.chat-div {
  /* max-height: 500px; */
}


.chat-gui {
    overflow-y: auto;
    height: 55vh;
    padding: 30px;
    background: #fff;
}


.chat-gui::-webkit-scrollbar
{
    width: 4px;
}

.input-group {
    background: #FFFFFF;
    box-shadow: 0px -6px 10px rgb(0 0 0 / 6%);
    padding: 10px 15px;
    z-index: 9;
}
.input-group input.form-control {
    background: rgba(173, 185, 202, 0.2);
    border-radius: 36px;
    border: 0;
    padding: 14px;
    height: 50px;
}
button.paper-attachment {
    border: 0;
    position: absolute;
    right: 70px;
    top: 20px;
    z-index: 9;
}
button.send-msg {
    border: 0;
    padding: 0;
    border-radius: 0px 20px 20px 0px !important;
    display: inline-block;
    margin-left: -2px !important;
    z-index: 9;
}

.desc-box {
    border: 1px solid  #F5F5F5;
    padding: 20px;
    /* -webkit-box-shadow: 1px 2px 2px 4px; */
    /* box-shadow: 1px 2px 2px 4px; */
    background-color: #F5F5F5;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 10%);
}
.desc-box p span,
.desc-box p {
    font-size: 16px;
    line-height: 23px;
    color: #090446;
        font-family: 'Avenir' !important;
}
.desc-box p strong {
    color: #C2095A;
    font-size: 18px;
line-height: 23px;
    font-family: 'Avenir' !important;
}
.cart-item {
  padding: 2rem;
  border: 1px solid lightgrey
}

.total-items {
  padding: 10px;
  background-color: #feb95f;
  float: right;
  margin-right: 20px;
  margin-bottom: 10px;
  color: #fff;
}
.plans-inner{
  border-radius: 5px;
}


.pink-pattern-bg-2 ,
.employee-dashboard-popup-survey {
    background-image: url(../images/survey-bg.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.sd-root-modern, .svc-logic-question-value{
  --sd-base-padding:0 !important;
}
.popup-survey-box {
    border: 15px solid #ADB9CA;
    /* padding: 70px; */
    margin-bottom: 50px;
        background: #fff
}

.popup-survey-box h4 {
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 38px;
    color: #C2095A;
    margin-bottom: 30px;
}
.cbx {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.2s ease;
}

label.cbx {
    background: #ADB9CA;
    padding: 17px 20px;
    margin: 10px;
    display: inline-flex;
        align-items: center;
    justify-content: center;
}

.cbx span {
    margin: 0 6px;
}

.cbx > img {
    filter: grayscale(1) brightness(1.1);
}
.cbx:not(:last-child) {
  margin-right: 6px;
}
.cbx:hover {
  background: rgba(0,119,255,0.06);
}
.cbx span {
  float: left;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
  font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;

color: #4C4C4D;
}
.cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  transform: scale(1);
  border: 1px solid #cccfdb;
  transition: all 0.2s ease;
  box-shadow: 0 1px 1px rgba(0,16,75,0.05);
}
.cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.cbx span:last-child {
  padding-left: 8px;
  line-height: 18px;
}
.cbx:hover span:first-child {
  border-color: #07f;
}
.inp-cbx {
  position: absolute;
  visibility: hidden;
}
.inp-cbx:checked + .cbx span:first-child {
background: #fff;
    border-color: #fff;
  animation: wave 0.4s ease;
  background-image: url('../images/check-box.svg');
      background-repeat: no-repeat;
    background-position: center;
}
.inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
  display: none;
}

.inp-cbx:checked + .cbx {
    background: #40AC48;
}

.inp-cbx:checked + .cbx > img {
    filter: brightness(1);
}
.inp-cbx:checked + .cbx span{
  color: #fff;
}
.inline-svg {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

@-moz-keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
@-webkit-keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
@-o-keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}