@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500;
  color: #090446;
  /* background-color: #f4fdfc;*/
}

body p {
  line-height: 1.8;
}

img {
  max-width: 100%;
}

.avtar {
  width: 54px;
  height: 54px;
  margin-left: 24px;
}

.avtar img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.avtar i {
  top: 0;
  position: absolute;
  top: 40%;
  right: -30%;
  font-size: 18px;
  font-weight: 800;
}

.dropdown.user-icon .dropdown-menu {
  left: -113% !important;
}

.dropdown.user-icon:hover .dropdown-menu {
  display: block;
}


a,
a:hover {
  text-decoration: none !important;
  transition: all 0.3s ease-in-out;
}


.light-pink {
  color: #FFF1F6;
}

.text-blue,
.text-blue:hover {
  color: #090446;
}

.text-red,
.text-red:hover {
  color: #C2095A;
}

.text-gray {
  color: #4C4C4D;
}

.text-light-blue {
  color: #7e7b9e;
}

input.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #feb95f;
}

.form-control:focus,
.custom-file-input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #feb95f;
}

input.form-control,
select.form-control,
.custom-file-input {
  height: calc(1.9em + 0.75rem + 2px);
}

.d-block {
  display: block !important;
  width: 100%;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 800;
}

.h1,
h1 {
  font-size: 44px;
  margin-bottom: 1.5rem;
}

.h2,
h2 {
  font-size: 40px;
  margin-bottom: 1.5rem;
}

.f-18 {
  font-size: 18px;
}

.f-14 {
  font-size: 14px;
}

.f-12 {
  font-size: 12px;
}

.cursor-pointer {
  cursor: pointer;
}

/* hero section */
.employee-hero-section {
  padding: 30px 0;
  margin-bottom: 50px;
}

.content-center {
  justify-content: center;
  align-items: center;
}

.right-side {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
  position: relative;
}

.img-container {
  position: relative;
  display: inline-block;
  width: 90%;
}

.img-container:before {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  border: 5px solid #feb95f;
  top: -30px;
  right: -30px;
  z-index: -1;
}

.img-container:after {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  border: 5px solid #feb95f;
  bottom: -30px;
  left: -30px;
  z-index: -1;
}

.hero-img {
  width: 100%;
}

/* leaner section */
.learning-sention {
  padding: 50px 0;
}

.learning-sention h2.text-big {
  font-size: 46px;
}

.learning-sention .p-text {
  margin-bottom: 50px;
}

.overlay {
  position: relative;
  width: 100%;
  height: 100%;
}

.overlay>img {
  width: 100%;

}

.overlay:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.overlay-content {
  position: absolute;
  bottom: 2%;
  left: 5%;
}

.overlay-content h5.text-overlay {
  font-size: 14px;
  color: #fff;
}

.overlay-content p.overlay-description {
  color: #fff;
  font-size: 8px;
}


/* Event -section */
.event-section {
  padding: 20px 0;
  margin-bottom: 50px;
}

h2.event-title {
  margin-bottom: 60px;
}

.event-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  border-top: 2px solid #feb85f;
}

.event-details:last-child {
  border-bottom: 2px solid #feb85f;
}

.event-details .event-date {
  font-size: 30px;
}

.event-details .event-date sup {
  font-size: 16px;
  margin-left: 5px;
}

.event-details .event-name {
  font-size: 20px;
}

.event-action .btn-bg {
  background: none;
}


.event-section .to-do-list {
  margin-top: 40px;
}

.event-section .to-do-list h5 {
  font-size: 20px;
}

.event-section .to-do-list p {
  font-size: 14px;
  margin-bottom: 10px;
}

.event-section .to-do-list li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: #090446;
  box-shadow: 0px 0px 0px 4px #fff inset;
  outline: 2px dashed #090446;
}

.event-section .to-do-list li {
  position: relative;
  padding-left: 60px;
  padding-bottom: 35px;
}

.event-section .to-do-list li:after {
  content: '';
  position: absolute;
  left: 17px;
  top: 38px;
  height: 86%;
  border: 1px dashed #090446;
}

.pd-left {
  padding-left: 10%;
}

.event-section .to-do-list h5 {
  font-size: 20px;
  margin-bottom: 15px;
}

/*custom checkbox*/
.custom-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #090446;
}

.custom-container input:checked~.custom-checkmark {
  background-color: #090446;
}

.custom-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-container input:checked~.custom-checkmark:after {
  display: block;
}

.custom-container .custom-checkmark:after {
  left: 6px;
  top: 2px;
  width: 6px;
  height: 11px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*static css end*/
.login-section {
  background: #FEB95F;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-inner {
  background: #fff;
  width: 100%;
}

.login-box {
  display: flex;
  justify-content: space-between;
}

.login-left {
  width: 53%;
}

.login-right {
  width: 43%;
  padding-right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-box {
  width: 100%;
}

.login-bg-text {
  background-image: url(../images/login-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  color: #fff;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-bg-text:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(9, 4, 70, 0.8);
  height: 100%;
  width: 100%;
}

.login-box {
  display: flex;
  padding: 25px;
  min-height: 80vh;
}

.left-content {
  position: relative;
  z-index: 2;
  text-align: center;
}

.logo img {
  height: 90px;
  margin-bottom: 40px;
}

.account-box-link {
  text-align: center;
  background: #FFF1F6;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #C2095A;
}

/*employee-dashbord css */
.navbar-brand img {
  height: 110px;
}

.cutom-menu-list .nav-link {
  color: #090446 !important;
  font-weight: 600;
}

.cutom-menu-list {
  align-items: center;
}

.custom-btn {
  background-image: linear-gradient(90deg, #FEB95F, #C2095A);
  padding: 3px !important;
  border: none;
  margin-left: 20px;
}

.pd-link {
  padding: 10px 20px !important;
}

.gradient-btn {
  background: #fff;
  padding: 12px 24px;
}

.continue-btn,
.continue-btn:hover {
  background-image: linear-gradient(90deg, #C2095A, #40ac48);
  border: none;
  border: none;
  color: #fff;
  width: 40%;
  padding: 17px 10px !important;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
}



.to-do-list {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
}

.to-do-list h5 {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0px;
}

.op-7 {
  opacity: 0.7;
}

.to-do-list p {
  font-size: 7.9px;
  margin-bottom: 10px;
}

.to-do-list li {
  position: relative;
  padding-left: 25px;
}

.to-do-list li:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 18px;
  height: 86%;
  border: 0.5px dashed #090446;
}

.to-do-list li:last-child:after {
  display: none;
}



/* Home page css end */




/* ================================================= */
/* START CLASSES PAGE CSS  */
/* ================================================= */
section.live-classe {
  padding-top: 50px;
  padding-bottom: 20px;
}

.live-classe .col-md-6.content-middle {
  display: flex;
  align-items: center;
}

.card-post {
      margin-bottom: 70px;
}

.card-post .card-image {
  width: 50%;
}

.course-details {
    padding-left: 40px;
}


.clases-blogs .course-details p {
    font-weight: 900;
    font-size: 20px;
    line-height: 33px;
    color: #090446;
}


.course-middle-details .fa {
  margin-right: 0.5rem;
  color: #c2095a;
  font-size: 16px;
}

.clases-blogs h4.title {
  font-size: 24px;
  color: #c2095a;
  font-weight: 600;
}

.clases-blogs .course-details p img {
    margin-right: 10px;
}
.course-middle-details {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

a.btn.btn-read-more {
  background: #c2095a;
  color: #fff;
  border-radius: 3px !important;
  padding: 10px 30px !important;
}

.course-description {
  font-size: 16px;
  font-weight: 400;
}


.clases-blogs .row.row-mb {
  margin-bottom: 40px;
}

/* ================================================= */
/* START INNOVATIVE TEAM PAGE CSS  */
/* ================================================= */
section.team-section {
  padding: 50px 0 20px 0;
}

.team-card-post {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.team-card-image {
  width: 14%;

}

.team-card-post img {
  border-radius: 4px;
}

.team-card-content {
  width: 86%;
}

.team-card-content h4.title {
  color: #c2095a;
  font-weight: 600;
}

.team-card-content .course-middle-details .time p,
.team-card-content .course-middle-details .place p {
  font-size: 14px;
  font-weight: 400;
}

.team-card-content .btn-read-more {
  text-transform: uppercase;
}

.article-information {
  border-top: 1px solid #eaeaea;
  padding-top: 2rem;
}

h3.post-title {
  font-size: 22px;
  font-weight: 600;
  color: #c2095a;
  margin-bottom: 1rem;
}

p.post-description {
  font-weight: 400;
  font-size: 18px;
}

.content-refrence h6.ref-title {
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  padding: 1.5rem 0;
}

.content-refrence .video-url {
  font-weight: 400;
  color: #090446;
}

.content-refrence .homework-title {
  font-style: normal;
}

ul.ref-information li {
  line-height: 1.9;
  font-size: 18px;
  font-weight: 400;
}

.purpose-learn {
  padding-bottom: 3rem;
}

.purpose-learn h6.learn-title {
  font-size: 20px;
  font-weight: 600;
  padding: 1.5rem 0;
}

ul.learn-topic li {
  line-height: 1.9;
  font-size: 18px;
  font-weight: 400;
}


/*  END INNOVATIVE TEAM PAGE CS */

/* ================================================= */
/* START PRICING CARD PAGE CSS  */
/* ================================================= */
h2.pricing-title {
  text-align: center;
  font-size: 46px;
  font-weight: 800;
  padding: 50px 20px;
  color: #090446;
  ;
}


.card-color {
  background: hwb(34deg 37% 0% / 80%);

}

.pricing-card {
  padding: 2.5rem;
  border-radius: 1rem;
  max-width: 95%;
  margin: auto;
  margin-bottom: 10%;
}

.card-type {
  font-size: 18px;
  font-weight: 600;
}

.card-price {
  font-size: 36px;
  font-weight: 800;
  padding: 0.5rem 0;
}

.user-plan {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.info-list {
  margin-bottom: 1.5rem;
}

.info-list ul.list {
  list-style: none;
  padding-left: 0;
}

.info-list ul.list li {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
}

.info-list ul.list li>i.fa {
  color: #fff;
  font-size: 10px;
  background: #090446;
  padding: 5px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.btn-pricing {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  background: #090446;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
}

.btn-pricing:hover {
  color: #fff;
  background: #090446;
  opacity: 1;

}


/* ================================================= */
/* END  PRICING CARD PAGE CSS  */
/* ================================================= */

footer.footer-bg {
  background: #090446;
  padding: 50px 0 0 0;
}

footer.footer-bg {}

footer.footer-bg h5.title {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 1rem;
}

footer.footer-bg .menu ul {
  list-style-type: none;
  padding: 0;
}

footer.footer-bg .menu ul>li>a {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.8;

}

footer.footer-bg .menu ul>li:first-child a {
  color: #ADB9CA;
  text-transform: uppercase;
  font-weight: 600;
}


.footer-middle {
  display: flex;
  justify-content: center;
  gap: 6rem;
  align-items: center;
  padding: 3rem 0;
}

.footer-middle h4.title {
  color: #c2095a;
  font-size: 18px;
}

.footer-middle .store {
  display: flex;
  gap: 2rem;
}

.footer-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding-bottom: 2rem;
}

.footer-logo {
  width: 120px;
}

.footer-bottom .title h3 {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 0;
}

.footer-bottom .title span {
  color: #c2095a;
}

.footer-bottom form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.footer-bottom .subscribe input[type="text"] {
  border: 2px solid #C2095A;
  border-radius: 5px;
  padding: 8px 10px;
  width: 100%;
}

.footer-bottom .subscribe input[type="text"]::placeholder {
  font-size: 18px;
  font-weight: 300;
}

.footer-bottom .subscribe input[type="text"]:hover,
.footer-bottom .subscribe input[type="text"]:focus {
  outline: none;
}

.footer-bottom button.subscribe-btn.btn {
  background: #c2095a;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 16px;
  width: 50%;
  padding: 8px 20px !important;
  border: 2px solid #C2095A;
}


.divider-bottom {
  border-bottom: 3px solid #c2095a;
}

.bottom-navigation ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.bottom-navigation ul>li>a {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}

.bottom-navigation {
  padding: 1.5rem 0;
}

footer.footer-bg .copyright {
  border-bottom: 30px solid #c2095a;
  background: #fff;
}

footer.footer-bg .copyright p.text {
  text-align: center;
  font-size: 12px;
  margin-bottom: 0;
  padding: 10px 0;
  font-weight: 600;
}




/* ================================================= */
/* END CLASSES PAGE CSS  */
/* ================================================= */

/*media query*/
@media screen and (max-width: 992px) {

  .h1,
  h1 {
    font-size: 36px;
  }

  .pd-left {
    padding-left: 0;
    margin-top: 50px;
  }

  .continue-btn,
  .continue-btn:hover {
    margin-bottom: 50px;
  }

  .learning-sention h2.text-big {
    font-size: 36px;
  }


  /*media query dashboard css*/

}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1280px !important;

  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .pd-link {
    padding: 10px 10px !important;
  }

  .continue-btn,
  .continue-btn:hover {
    width: 70%;
  }

  .learning-sention h2.text-big,
  h2 {
    font-size: 36px;
  }

  .cutom-menu-list .nav-link {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {

  .continue-btn,
  .continue-btn:hover {
    width: 70%;
  }

  /* Start css for class page  */

  .card-post {    
    margin-bottom: 70px;
  }


  .card-post .card-content {
    padding-left: 2rem;
  }

  .footer-bottom {
    flex-direction: column;
  }

  .footer-logo {
    width: 30%;
  }

  /* End css for class page  */

}

@media screen and (max-width: 767px) {

  .h1,
  h1 {
    font-size: 24px;
  }

  .f-18 {
    font-size: 16px;
  }

  .right-side {
    justify-content: center;
  }

  .img-container {
    top: 50px;
    width: 80%;
  }

  .learning-sention .col-xs-6 {
    width: 50%;
    margin-bottom: 1.5rem !important;
  }

  .learning-sention h2.text-big,
  .learning-sention h2 {
    font-size: 22px;
  }

  .event-details {
    flex-wrap: wrap;
  }

  .event-action {
    width: 60%;
    margin: auto;
    margin-top: 10px;
  }

  .continue-btn,
  .continue-btn:hover {
    width: 60%;
    margin-bottom: 50px;
  }

  .pd-left {
    padding-top: 50px;
  }

  /* Start css for class page mobile view */
  .footer-middle {
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    border: 1px 0 1px 0 solid #ADB9CA;
    border-top: 1px solid #ADB9CA;
    border-bottom: solid #ADB9CA 1px;
  }

  .footer-middle .store {
    flex-direction: column;
  }

  .footer-bottom {
    flex-direction: column;
  }

  .footer-logo {
    width: 80%;
  }

  .footer-bottom form {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }

  .footer-bottom button.subscribe-btn.btn {
    width: 100%;
  }

  .subscribe {
    width: 100%;
  }

  .bottom-navigation ul {
    align-items: flex-start;
  }

  .course-banner {
    margin-bottom: 20px;
  }

  .card-post {
    flex-direction: column;
  }

  .card-post .card-image {
    width: 100%;
  }

  .card-post .card-content {
    width: 100%;
    padding-left: 0;
  }

  /* css for innvovative team cards */
  .team-card-image {
    width: 80%;

  }

  .team-card-content {
    width: 100%
  }
  /* end css for class page mobile view */
}