
*::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
    height: 8px;
    width: 8px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #08006a;
}



body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

section {
    padding: 50px;
}
    
main.main-col {
    width:calc(100% - 320px);
    margin-bottom: -1px;
    background: #fff;
}
section.admin-section,
section.employer-section,
section.employee-section {
    padding: 0;
}   
img{
  max-width: 100%;
}
a, a:hover{
  text-decoration: none !important;
  transition: all 0.3s ease-in-out;
}
.btn:focus{
  outline: none !important;
  box-shadow: none !important;
}
a:hover, .btn:hover{
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}

.light-pink{
  color:#FFF1F6 ;
}
.text-blue, .text-blue:hover{
  color: #090446;
}
.text-red, .text-red:hover{
  color:  #C2095A;
}
.text-gray{
  color: #4C4C4D; 
}
input.form-control:focus{
outline: none !important;
box-shadow: none !important;
border: 1px solid #feb95f;
}
.form-control:focus, .custom-file-input:focus{
  outline: none !important;
box-shadow: none !important;
border: 1px solid #feb95f;
}

input.form-control, select.form-control, .custom-file-input {
    height: 50px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #d9d9dd;
}   


.form-control[type=file] {
    overflow: hidden;
    padding: 12px;
    background-image: url(../images/choose-file.svg);
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
        padding-right: 150px;
}

.form-control[type=file]::-webkit-file-upload-button {
    display: none;
}
select.form-control {
    position: relative;
    appearance: auto;
    border-right: 6px solid #fff;
    box-shadow: 1px 0px 0px #d9d9dd;
}
select.form-control:after {
    /*content: '';*/
    background: url(../images/down-arrow.svg);
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
    height: 10px;
    display: block;
}
input.form-control + span.search-icon:after {
    content: '';
    position: absolute;
    left: 28px;
    top: 16px;
    background-image: url(../images/search.svg);
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
}

input.form-control[type="search"] {
    padding-left: 40px;
    margin-bottom: 15px;
}

.siderbar-link ul .manage-gap a img {
    margin: 0 5px;
}
.d-block {
  display: block !important;
  width: 100%;
}
.semi-bold{
  font-weight: 600;
}
.bold{
  font-weight: 700;
}
.h1, h1 {
    font-size: 44px;
}
.f-18{
  font-size: 18px;
}
.f-14 {
  font-size: 14px;
}
.f-12{font-size: 12px;}
.cursor-pointer{cursor: pointer;}
/*custom checkbox*/
.custom-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.custom-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.custom-checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #090446;
}
.custom-container input:checked ~ .custom-checkmark {
  background-color: #090446;
}
.custom-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.custom-container input:checked ~ .custom-checkmark:after {
  display: block;
}
.custom-container .custom-checkmark:after {
  left: 6px;
  top: 2px;
  width: 6px;
  height: 11px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

div#app {
    width: 100%;
        background: #090446;
    padding-bottom: 62px;
    min-height: 100vh;
}

/*static css end*/
.login-section {
  background: #FEB95F;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-inner {
  background: #fff;
  width: 100%;
}
.login-box {
  display: flex;
  justify-content: space-between;
}
.login-left {
  width: 53%;
}
.login-right {
  width: 43%;
  padding-right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-form-box {
    width: 100%;
}
.login-bg-text {
  background-image: url(../images/login-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  color: #fff;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-bg-text:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background-color:rgba(9, 4,70, 0.8);
  height: 100%;
  width:100%;
}
.login-box {
  display: flex;
  padding: 25px;
  min-height: 80vh;
}
.left-content {
  position: relative;
  z-index: 2;
  text-align: center;
}
.logo img {
  height: 90px;
  margin-bottom: 40px;
}
.account-box-link {
    text-align: center;
    background: #FFF1F6;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #C2095A;
}
/*employee-dashbord css */

.navbar-brand img {
    height:70px;
    max-width: 130px;
    object-fit: contain;
}   
.cutom-menu-list .nav-link {
  color: #090446  !important;
  font-weight: 500;
}
.cutom-menu-list {
  align-items: center;
}


.sidebar {
    background: #090446;
    height: calc(100vh - 95px );
    color: #fff;
    padding: 15px 0px;
    overflow: auto;
    position: sticky;
    top: 0;
    max-width: 320px;
    min-width: 320px;
    width: 100%;
}
.user-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 14px;
    margin-bottom: 15px;
    /* flex-wrap: wrap; */
    background: #FFFFFF;
    border-radius: 10px;
    padding: 15px 24px;
}

.sidebar::-webkit-scrollbar {
    background: #020018;
    width: 5px;
}

.sidebar::-webkit-scrollbar-track {
    background: #020018;
    width: 5px;
}
.sidebar::-webkit-scrollbar-thumb {
    background: #5c51e3;
}
.sidebar .user-detail {
overflow: hidden;
    max-width: calc(100% - 66px);

}
.sidebar .user-detail h5 {
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 36px;
    color: #090446;
    margin-bottom: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar .user-detail p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #C2095A;
}
.siderbar-link ul {
  list-style: none;
  padding-left: 0;
}

.siderbar-link ul li a {
    color: #fff;
    font-weight: 400;
    display: block;
    padding: 15px 40px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-style: normal;
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
color: #FFFFFF;
opacity: 0.8;
}

.siderbar-link ul .manage-gap {
    padding: 15px 40px;
    position: relative;
}
.siderbar-link ul .manage-gap a{
    padding: 10px 0px;}
.siderbar-link ul li a:hover,
.siderbar-link ul li a.active, .siderbar-link ul li.active a {
    background: #ADB9CA;
    font-weight: 500;
    opacity: 1 ;
}
.siderbar-link ul li input.form-control + span.search-icon:after {
    left: 56px;
    top: 28px;
    width: 18px;
    height: 18px;
}

.logout-btn-box {
    padding: 0 40px;
    margin-bottom: 30px;
}
.pink-pattern-bg {
    background-image: url('../images/about-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 600px;
}
.employee-welcome-note-section {
    background-image: url('../images/about-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 600px;
}
.admin-dashboard-hero-section ,
.employee-dashboard-hero-section {
    background-image: url('../images/about-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 600px;
}
.user-img {
  margin-right: 20px;
}
.logout-btn, .logout-btn:hover {
    background-image: linear-gradient(90deg, #C2095A, #40ac48);
    border: none;
    border: none;
    color: #fff;
    width: 85%;
    padding: 17px 10px !important;
    transition: all 0.3s ease-in-out;
}
.main-content {
    width: calc(100vw - 450px);
    margin-left: auto;
}
.custom-card {
    box-shadow: 0px 2px 12px rgb(0 0 0 / 9%);
    border: none;
}
.custom-card .card-body {
  text-align: center;
  padding: 2rem 1.25rem;
}
.progress-bar-green {
  width: 100px;
  margin: auto;
}
.progress-bar-green .progress {
  border-radius: 0px;
  background-color: #e3e3e3;
}
.progress-bar-green .progress .progress-bar {
  background: #40AC48;
  font-size: 8px;
}
.step-card-section .cpd {
    padding: 0px 7px;
}
.work-progress-list {
  padding-left: 0px;
  list-style: none;
  box-shadow: 0px 2px 12px rgb(0 0 0 / 9%);
  padding: 10%;
}
.work-progress-list h5.text-blue {
  font-size: 18px;
  font-weight: 600;
}
.work-progress-list p.text-blue.op-7 {
  opacity: 0.7;
  font-size: 14px;
}
.work-progress-list li {
  margin-bottom: 25px;
  position: relative;
  padding-left: 20px
}
.work-progress-list li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 4px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #40AC48;
}
.resource-box {
    box-shadow: 0px 2px 12px rgb(0 0 0 / 9%);
    padding: 9%;
    position: relative;
}
.info-icon {
    position: absolute;
    right: 20px;
    top: 15px;
}
.resource-list li {
    position: relative;
    margin-bottom: 15px;
}
.resource-list {
    padding-left: 0;
    list-style: none;
}
.resource-list li .list-icon {
    position: absolute;
    right: 0;
}
.count {
    display: inline-block;
    height: 22px;
    width: 22px;
    background: #d9f1e2;
    text-align: center;
    line-height: 22px;
    border-radius: 50%;
    font-size: 11px;
    color: #40ac48;
    font-weight: 700;
}
.resource-list li {
  position: relative;
  margin-bottom: 15px;
  font-size: 14px;
  color: #888;
}
.clr-fade{
  color: #888;
}
.btn-intr {
  background-image: linear-gradient(90deg, #FEB95F, #C2095A);
  border: none;
  width: 100%;
  font-size: 12px;
}
.resource-box h2 {
    font-size: 24px;
}
.to-do-list {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
}
.to-do-list h5 {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0px;
}
.op-7{
  opacity: 0.7;
}
.to-do-list p {
    font-size: 7.9px;
    margin-bottom: 10px;
}
.to-do-list li {
  position: relative;
  padding-left: 25px;
}
.to-do-list li:before {
  content: '';position: absolute;
  left: 0;
  top: 4px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #40AC48;box-shadow: 0px 0px 0px 2px #fff inset;
  border: 1px dashed #090446;
  }
  .to-do-list li:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 18px;
    height: 86%;
    border: 0.5px dashed #090446;
}
 .to-do-list li:last-child:after{
  display: none;
 } 

.header {
    width: 100%;
    background: #fff;
    z-index: 999;
    top: 0;
}
 /*.main-content {
  margin-top: 136px;
}*/
.dashboard-container {
    display: flex;
    justify-content: space-between;
}


.page-title {
    font-style: normal;
    font-weight: 800;
    font-size: 68px;
    line-height: 93px;
    text-transform: uppercase;
    color: #090446;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}
.page-title span{
  color: #C2095A;
}
.yello-color,
.page-title span.yello-color{
  color: #FEB95F !important;
}
.white-color,
.page-title span.white-color{
  color: #fff !important;
}

.page-title-2 {
    font-style: normal;
    font-weight: 800;
    font-size: 52px;
    line-height: 71px;
    text-transform: uppercase;
    color: #090446;
}

.pera-title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #4C4C4D;
    margin-bottom: 60px;
}
.page-sub-title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #4C4C4D;
    margin-bottom: 60px;
}
.pricing-section .nav.nav-pills {
    justify-content: center;
        z-index: 9;
    position: relative;
        margin-bottom: 100px;
}


.pricing-section .nav.nav-pills button {
    padding: 26px 64px;
    border-radius: 90px;
    max-width: 255.5px;
    background: #D9D9D9;
    font-weight: 900;
font-size: 18px;
line-height: 25px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
position: relative;
}
.pricing-section .nav.nav-pills button:after {
    content: '';
    background: #d9d9d9;
    right: -50px;
    height: 100%;
    position: absolute;
    width: 100px;
    z-index: -1;
}

.pricing-section .nav.nav-pills button:last-child:after {
    display: none;
}
.tabs-ui .pricing-section .nav.nav-pills button {
    padding: 15px 30px;
    margin: 0 6px;
    font-weight: 400;
}
.tabs-ui .pricing-section .nav.nav-pills button[aria-selected="true"]{

    font-weight: 500;
}
.pettern-bg {
        background-color: #fff;
    background-image: url('../images/pettern-bg.svg');
    background-repeat: no-repeat;
    background-size: 100%;
}


.pricing-section .nav.nav-pills button[aria-selected="true"] {
    background: #40AC48;
    color: #fff;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"] + label {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */


  color: #000;
}
[type="radio"]:checked + label, [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
    opacity: .5;
}
[type="radio"]:checked + label{
    opacity: 1;
    color: #090446;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
   content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border: 2px solid #000;
    border-radius: 100%;
    background: transparent;
}


[type="radio"]:checked + label:before {
    background: #090446;
    border-color: #090446;
}
[type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #fff;
    position: absolute;
    top: 6px;
    left: 6px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.pink-color{
    color: #C2095A !important;
}
.blue-color{
    color: #090446 !important;
}


.section-title {
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 68px;
    color: #090446;
}

.view-step-title {
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #090446;
    background: #FFD196;
    border-radius: 8px;
    padding: 8px;
    display: inline-block;
}

.pricing-box {
    background: #FFFFFF;
    border: 1px solid #ADB9CA;
    border-radius: 20px;
    padding: 50px ;
        height: 100%;
    overflow: hidden;
}
.pricing-text {
    display: flex;
    align-items: center;
}


.pricing-text img{
    margin-right: 20px;}


.pricing-text p {
    margin: 0;
    padding-right: 20px;
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
color: #090446;
margin-bottom: 25px;
}



footer {
    padding: 15px 25px;
    background: #C2095A;
    /*background: #fff;*/
    border-top: 0px solid #090446;
z-index: 999;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

p.copyright {
    text-align: center;
    color: #fff;
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
}
.action-btn {
    display: flex;
    align-items: center;
    margin: 30px 0;
    justify-content: center;
}

.btn{
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
  padding: 12px 30px;
  background: #C2095A;
  border-radius: 10px;
  border: 0;
}
.btn:not(:disabled):not(.disabled):active,
.btn:focus,
.btn:active,
.btn:hover{
  background: #feb95f !important;
  background-color: #feb95f !important;
    border-color: #feb95f !important;
}

.btn.gradient-color-btn {
    background: linear-gradient(90deg, #090446 0%, #C2095A 100%);
}
.btn.back {
    background: #ADB9CA;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    color: #090446;
        margin-bottom: 15px;
}

.btn.btn-outline-primary {
    background: #FFFFFF;
    border: 1px solid #C2095A;
    color: #C2095A;
}
.btn.back img {
    margin-right: 10px;
}
.custom-btn {
    background-image: linear-gradient(90deg, #FEB95F, #C2095A);
    padding: 2px !important;
    border: none;
    margin-left: 20px;
    overflow: hidden;
}
.pd-link {
    padding: 10px 20px !important;
}
.gradient-btn {
    background: #fff;
    padding: 12px 20px;
    border-radius: 10px;
}
.pricing-box.comparison-box {
    padding: 0;
}

.pricing-title {
    padding: 24px 30px;
}

.pricing-btn {
    padding: 15px;
}
.pricing-title p {
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}

.pink-bg {
    background: #C2095A !important;
}

.yello-bg {
    background: #FEB95F !important;
}
.silver-bg {
    background: #4C4C4D !important;
}
.navi-blue-bg {
    background:#090446 !important;
}


.pricing-box.comparison-box .pricing-text {
    padding: 15px 30px;
        min-height: 55px;
}
.pricing-box.comparison-box .pricing-text p {
    margin: 0;
}

.pricing-box.comparison-box.text-center img {
    margin: auto;
}

.pricing-box.comparison-box.text-center p {
    padding: 0;
}

.pricing-btn .btn {
    font-size: 15px;
    width: 100%;
}


.employee-section footer {
    margin-top: 60px;
}


.color-border img {
    height: 400px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}
.color-border {
    background: #090446;
    background-image: url(../images/border-color-bg.svg);
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 15px;
}

.color-border .color-border-box {
    background: #fff;
        width: 100%;
}

.color-border .color-border-box iframe {
    width: 100%;
    display: block;
}

.modal-body {
    min-height: 40vh;
    background-image: url(../images/my-learning-plan-bg.svg);
    background-size: 150%;
    background-position: top;
    width: 100%;
    background-repeat: no-repeat;
        background-color: #f4f4f5;
}
.half-cut-bg {
    background-image: url(../images/my-learning-plan-bg.svg);
    background-size: 100%;
    background-position: top right;
    width: 100%;
        background-repeat: no-repeat;
}
.my-learning-plan {
    background-image: url(../images/my-learning-plan-bg.svg);
    background-size: cover;
    background-position: bottom right;
    width: 100%;
}

.my-learning-plan.home-learning-bg {
    background-image: url(../images/home-learning-bg.svg);
    background-size: 100%;
    background-position: bottom right;
    width: 100%;
    background-repeat: no-repeat;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgb(9 4 70 / 14%);
    border: 0;
        margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 0;
}

.card-title {
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    color: #090446;
    margin-bottom: 5px;
}

.card-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4C4C4D;
}

.card-img, .card-img-top {
    height: 250px;
    object-fit: cover;
}
.links, .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #C2095A;
}
a.links:hover, a.link:hover {
    color: #4C4C4D;
    cursor: pointer;

}
.links img, .link img {
    position: relative;
    top: -1px;
    left: 0;
    transition: all .3s ease-in-out;
}

.links:hover img, .link:hover img {
left: 10px;
}

.table td .links {
    text-transform: none;
}
.upcoming-workshops {
    background-image: url(../images/upcoming-workshops.svg);
    background-size: 100%;
    background-position: bottom right;
    width: 100%;
    background-repeat: no-repeat;
}

.workshops-slider span {
    display: flex;
    align-items: center;
    padding-right: 20px;
    color: #000;
}

.workshops-slider span img.icon {
    margin-right: 4px;
}

.steps-box .steps-count {
    background: #fff;
    box-shadow: 0px 0px 19.8056px rgb(0 0 0 / 20%);
    min-width: 105px;
    width: 105px;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 80px;
    position: relative;

}


.steps-box {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.steps-box .steps-count span {
    width: 45px;
    height: 45px;
    position: absolute;
    top: -10px;
    right: -10px;
    background: #090446;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.steps-box .pera {
    padding-left: 30px;
}

.logout-btn.btn {
    background: #fff;
    color: #090446;
    padding: 10px 25px !important;
    height: auto;
    width: auto; 
    margin-bottom: 0px;
}


.profile-details label {
    margin: 0;
    color: #090446;
    font-size: 18px;
    white-space: nowrap;
    padding-right: 40px;
    min-width: 50%;
    word-break: break-all;
}
.profile-details span {
    font-size: 18px;
    font-weight: bolder;
    word-break: break-all;
}

.table-responsive {
    padding: 0;
    border-radius: 12px;
        background: #fff;
    border: 1px solid #d9d9dd;
}
table tr, table tr td, table tr th {
    border-width: 0px;
}

table tr td, table tr th {
    padding: 15px 18px !important;
    vertical-align: middle !important;
}

.mx-table-date td, .mx-table-date th {
    padding: 4px !important;
}
table tr th {
    background: #FEB95F;
    border: 0px !important;
    color: #090446;
}
table tr th:last-child {
    border-radius: 0px 10px 0px 0px;
}

table tr th:first-child {
    border-radius: 10px 0px 0px 0px;
}

table>:not(:first-child) {
    border-top: 0px solid currentColor !important;
}
table tr td span,table tr td p,
table tr td {
    color: #090446;
    font-weight: 500;
    margin-bottom: 0;
}
table tr td {
        background: #fff;
    border-top: 0px !important;
    border-bottom: 1px solid #d9d9d9;
    }
table tr:last-child td {
    border: 0;
}

.table td .d-flex .mx-3.d-block {
    width: 20px;
    margin-right: 0 !important;
    padding-right: 4px;
}

table tr td .btn {
    background: #c2095a;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    white-space: nowrap;
    padding: 10px 20px;
    margin: 4px 0px;
}

ul.pagination {
    padding: 10px;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #c2095a;
    border-color: #c2095a;
}

.page-item .page-link {
    color: #c2095a;
    border: 1px solid #c2095a;
}
.light-pink-bg {
    background: #FFF1F6;
}
.message-bubble {
    display: inline-block;
    background: rgba(173, 185, 202, 0.2);
    border-radius: 4px;
    padding: 14px 11px 10px;
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 3px;
    margin-bottom: 5px;
        max-width: 100%;
}

.message-bubble p {
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    color: #090446;
    max-width: 100%;
    word-break: break-all;
}

.message-bubble span.message-time {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #000000;
    opacity: 0.5;
    padding-top: 11px;
    padding-left: 4px;
}

.chat-list p.d-flex {
    justify-content: flex-start;
    margin-bottom: 4px;
}

.chat-list {
    margin-bottom: 20px;
}


.chat-list p.d-flex b {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #C2095A;
}

.chat-list.text-right p.d-flex {
    justify-content: flex-end;
}

.chat-list p.d-flex .border-radius-50 {
    margin-right: 0.5rem !important;
}
.chat-list.text-right p.d-flex .border-radius-50 {
    order: 2;
    margin-right: 0 !important;
    margin-left: 0.5rem!important;
}

.card-box {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 10%);
    padding: 30px;
}

.card-box textarea.form-control, textarea.form-control {
    min-height: 170px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 16px 20px;
}

input[type="checkbox"] {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
}

.message-grp-date {
    background: #f1f1f1;
    text-align: center;
    padding: 4px;
    margin: 2px 0;
}

.message-grp-date span {
    background: #090446;
    border-radius: 50px;
    padding: 3px 10px;
    display: inline-block;
    color: #fff;
    margin: 2px 0;
}

a.dashboard-card-link {
    background: #FFFFFF;
    border-radius: 16px;
    display: block;
    padding: 21px 18px;
    font-weight: 900;
    font-size: 19px;
    line-height: 26px;
    color: #C2095A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.card-sub-title {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    color: #C2095A;
}

.card-title-2 {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #090446;
}

.statistics-box {
    /*margin-bottom: 30px;*/
    height: 100%;
}
.statistics-box h5 {
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    color: #090446;
    margin-bottom: 35px;
}
.statistics-box a.pera ,
.statistics-box p {
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    color: #090446;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}


.statistics-box a {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 36px;
    color: #C2095A;
    cursor: pointer;
}

.todo-map-list h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #090446;
    margin-bottom: 0;
}

.todo-map-list p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #090446;
    opacity: 0.5;
}

.todo-map-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
        position: relative;
}

.todo-map-list::after {
    content: '';
    border: 1px dashed #40AC48;
    position: absolute;
    left: 10px;
    width: calc(100% - 80px);
    top: 13px;
}

.word-break-all{
    word-break: break-all;
}


.tox .tox-toolbar--scrolling {
    margin-bottom: 20px;
}

img.table-img {
    min-width: 100px;
    width: 100px;
    height: 100px;
    min-height: 100px;
    padding: 0;
    border-radius: 5px;
}

.table>:not(caption)>*>* {
    padding: 0;
}

.Uploaded-file-box {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgb(0 0 0 / 10%);
    padding: 30px;
    height: 100%;
    display: inline-block;
    position: relative;
}

.Uploaded-file-box a {
    display: inline-block;
    width: 100%;
    font-style: normal;
    font-weight:500;
    font-size: 16px;
    line-height: 23px;
    color: #090446;
}

.Uploaded-file-box a i {
    font-size: 88px;
    margin-bottom: 15px;
    color: #FEB95F;
}   
.Uploaded-file-box .fa.fa-trash {
    background: #d3dff1;
    /* opacity: 0.5; */
    border-radius: 4px;
    padding: 4px;
    color: #fff;
    color: #090446;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
}
















/*media query*/
@media screen and (max-width: 1199px) {
    .page-title{
        font-size:50px;
        line-height:60px;
    }
    .page-title-2{
        font-size: 42px;
        line-height: 55px;
    }
    .profile-details label{
        min-width: 100%;
        margin-bottom: 5px;
        margin-top: 10px;
        opacity: .8;
    }
}
@media screen and (max-width: 991px) {
  .h1, h1 {
    font-size: 36px;
  }
  .login-right{
    padding-right: 0px;
  }
  .login-box{
    flex-direction: column;
    padding: 15px;
  }
  .login-left, .login-right{
      width: 100%;
  }
  .login-section {
    min-height: 100vh;
  }
  .login-box {
    min-height: auto;
  }
  .login-bg-text{
    min-height: 450px;
    margin-bottom: 20px;
  }
  /*media query dashboard css*/
  

section {
    padding:30px;
}

input.form-control[type="search"]{
    margin: 0px;
    /*margin-top: 15px;*/
}
input.form-control + span.search-icon:after {
    top: 16px;
}
.table {
    max-width: 700px;
    width: 700px;
}
main.main-col{
        width: 100% ;
}
.sidebar {
    position: fixed;
    height: 100vh;
    z-index: 9999;
    top: 0;
    transform: translate(-100%, 0px);
        transition: all .5s ease-in-out;
}

.sidebar.show {
    transform: translate(0%, 0px);
}
div#app{
    padding-bottom: 62px;
    background: #fff;
}
}
@media screen and (max-width: 767px) {
div#app {
    padding-bottom: 100px;
}
   
.chat-div {
    /* max-height: 500px; */
    margin-left: -30px;
    margin-right: -30px;
}

.chat-list {
    max-width: 90%;
}
 .page-title{
        font-size:38px;
        line-height:40px;
    }
    .page-title-2{
        font-size: 28px;
        line-height: 45px;
    }
    .page-sub-title {
        font-size: 18px;
        line-height: 28px;
    }

  .dashboard-container {
    flex-direction: column;
  }
  .sidebar{
    width: 100%;
    margin-left: auto;
  }
  .main-content {
    padding: 20px 15px;
    width: 100%;
    margin-left: auto;
  }
  .progress-bar-green {
      width: 80%;
  }
  .step-card-section .cpd {
    padding: inherit;
  }
}